<h1>Album Roots</h1>

<div class="album_roots">
<% @album_roots.each do |album_root| %>
	<div class="album_root">
		<span><%=h album_root.label %></span>
		<span>(<%=h album_root.specificPath %>)</span>
		<span><%= link_to 'Show', album_root %></span>
	</div>
<% end %>
</div>
