<h1>
	Albums in <%=h @album_root.label %>
</h1>

<div class="albums">
<% @albums.each do |album| %>
	<% if not album.images.count == 0 then %>
  		<div class="album">
    			<span><%= link_to album.relativePath, :controller => "albums", :action => 'show', :id => album %></span>
		</div>
		<% end %>
	<% end %>
</div>
<%= will_paginate @albums %>
<%= link_to 'Back to album roots', album_roots_path %>
