<p>
  <b>Property:</b>
  <%=h @image_property.property %>
</p>

<p>
  <b>Value:</b>
  <%=h @image_property.value %>
</p>


<%= link_to 'Edit', edit_image_property_path(@image_property) %> |
<%= link_to 'Back', image_properties_path %>