<h1>
  <%=h @album.album_root.specificPath + @album.relativePath %>
</h1>

<h2>
  <%=h @album.caption %>
</h2>

<h2>Images</h2>
<div class="images">
<% @album.images.each do |image| %>
  <div class="image">
	  <img src="<%= url_for :controller => 'thumbnails', :action => "show", :format => 'jpg', :id => image.unique_hash.thumbnail %>" />
	  <%= link_to image.name, :controller => "images", :action => 'show', :id => image %></span>
  </div>
<% end %>
</div>
