<p>
  <b>Modification date:</b>
  <%=h image_haar_matrix.modificationDate %>
</p>

<p>
  <b>Unique hash:</b>
  <%=h image_haar_matrix.uniqueHash %>
</p>

<p>
  <b>Matrix:</b>
  <%=h image_haar_matrix.matrix %>
</p>
